# Environment variables
.env

# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/

# Test binary
*.test

# OS metadata
.DS_Store
Thumbs.db

# User uploads
uploads/

# Benchmark generated reports
benchmark/reports/benchmark_*.csv
benchmark/reports/benchmark_*.json
